@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Display" asp-controller="TelegramBot" color:blue; border-block:single>Отзывы</a>

</div>
